nodejs-book-master
./nodejs-book-master
./nodejs-book-master/
/nodejs-book-master/
/nodejs-book-master/

node-textbook-sourcecode
./node-textbook-sourcecode

node_modules
*/node_modules
*/node_modules/
*/node_modules/*